.dropdown-container {
  position: relative;
  width: 20rem;
  margin-bottom: 10rem
}

.dropdown-button {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: white;
  display: flex;
  width: 18rem;
  padding: 0.9375rem 1.25rem;
  align-items: center;
  gap: 0.625rem;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 0.625rem;
  border: 0.0625rem solid var(---200, #EEE);

}

.dropdown-button:hover {
  background-color: #f8f8f8;
}

.dropdown-arrow {
  transition: transform 0.2s;
}

.dropdown-arrow.open {
  transform: rotate(180deg);
}

.dropdown-content {
  position: absolute;
  text-align: center;
  width: 18rem;
  background-color: white;
  border: 0.0625rem solid #ccc;
  border-radius: 0.625rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.1);
  max-height: 11rem; 
  overflow-y: auto; 
  z-index: 10;  
}
.dropdown-content::-webkit-scrollbar {
	display:none
}

.dropdown-selectedItem {
  color: var(---500, #9E9E9E);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
}

.dropdown-item {
  color: var(--700, #616161);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.0625rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f8f8f8;
  color: #306DEF;
}