html {
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: 'Pretendard', sans-serif;
}

body {
  width: 100%;
  max-width: 500px;
  height: 100%;
  /* padding: 0 2rem; */
  box-sizing: border-box;
  font-family: "Pretendard";
}

h1, div, ol, li {
  margin: 0;
}
button {
  cursor: pointer;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  body {
   
  }
}