.ProgressBarWrap {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ProgressBarWrap .Step {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  background-color: #f0f0f0;
}

.StepContainer {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.StepLine {
  width: 10rem;
  }

@media (max-width: 600px) {
  .StepLine {
    width: 8rem;
    }
  }
  
