.PainText {
  color: var(---900, #212121);
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 120% */
  margin: 1.25rem 0rem;
}

.PainInputWrap {
position: relative;
width: 100%;
}