.AddressSearch {
  display: flex;
  gap: 1rem;
  width: 24rem;
  background-color: white;
  border: 1px solid #809df4;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  margin: 2rem auto;
}
.AddressText {
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
color: #767676;
}
.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.ModalContent {
  background: white;
  width: 500px;
  height: 450px;
  padding: 10px;
  border-radius: 8px;
  position: relative;
}

@media (max-width: 600px) {
  .AddressSearch {
    width: 22rem;
    }
  }
  
