.HomeContainer {
  background-color: #f8f8f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.HomeCopyright {
  color: #000;
  font-family: "Pretendard";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2.8125rem; /* 150% */
  padding-left: 2rem;
}

.ButtonContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem 1.25rem 0rem 0rem;
  background: #fff;
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.05);
  margin-top: auto;
  padding: 2rem;
}

.DrugImg {
  width: 6rem;
  margin: 0 1rem 1rem auto;
}
